<div class="buttons">
    <cls-button clazz="is-dark">Dark</cls-button>
    <cls-button clazz="is-light">Light</cls-button>
    <cls-button clazz="is-primary is-large">Primary & Large</cls-button>
    <cls-button clazz="is-secondary is-small">Secondary & Small</cls-button>
    <cls-button clazz="is-link is-loading">Link & Loading</cls-button>
    <cls-button clazz="is-info is-loading">Info & Loading</cls-button>
    <cls-button clazz="is-danger"
                [isDisabled]="true">
        Danger & Disabled
    </cls-button>
    <cls-button clazz="is-warning"
                [isLoading]="true">
    </cls-button>
</div>
<div class="buttons">
    <cls-button clazz="is-success"
                [hasIconLeft]="true"
                icon="github">
        <span>Success & Left Icon</span>
    </cls-button>
    <cls-button clazz="is-danger is-inverted"
                icon="github"
                [hasIconRight]="true">
        <span>Danger & Right Icon</span>
    </cls-button>
    <cls-button clazz="is-warning"
                icon="github"
                [hasIconLeft]="true">
    </cls-button>
</div>
