<cls-nav-bar>
    <cls-brand></cls-brand>

    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <cls-search></cls-search>
            </div>
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</cls-nav-bar>

<ng-content></ng-content>
