<div class="columns">
    <div class="column is-8">
        <cls-jumbotron title="Featured">
            <div class="columns">
                <div class="column">
                    <cls-card></cls-card>
                </div>
                <div class="column">
                    <cls-card [inline]="true"></cls-card>
                    <cls-card [inline]="true"></cls-card>
                    <cls-card [inline]="true"></cls-card>
                </div>
            </div>
        </cls-jumbotron>
    </div>
    <div class="column">
        <cls-card></cls-card>
    </div>
</div>
