<div class="columns">
    <div class="column is-8">
        <cls-jumbotron color="has-background-grey-light" text="Featured">
            <div class="columns">
                <div class="column">
                    <cls-card [hasText]="false">S</cls-card>
                </div>
                <div class="column">
                    <cls-card [inLine]="true"></cls-card>
                    <cls-card [inLine]="true"></cls-card>
                    <cls-card [inLine]="true"></cls-card>
                </div>
            </div>
        </cls-jumbotron>
    </div>
    <div class="column">
        <cls-card></cls-card>
    </div>
</div>
