.card {
    &.inline {
        display: flex;

        &.is-transparent {
            background: transparent;
        }

        figure {
            width: 10em;
        }

        margin: 2em 0 1.6em 0;

        &:first-child {
            margin-top: 0;
        }

        .card-content {
            padding-top: 0;
        }
    }
}
