<div
    class="container">
    <cls-jumbotron color="has-background-light" text="More videos">
        <div class="columns">
            <div class="column">
                <cls-card [inLine]="true"></cls-card>
                <cls-card [inLine]="true"></cls-card>
            </div>
            <div class="column">
                <cls-card [inLine]="true"></cls-card>
                <cls-card [inLine]="true"></cls-card>
            </div>
            <div class="column">
                <cls-card [inLine]="true"></cls-card>
                <cls-card [inLine]="true"></cls-card>
            </div>
            <div class="column">
                <cls-card [inLine]="true"></cls-card>
                <cls-card [inLine]="true"></cls-card>
            </div>
        </div>
    </cls-jumbotron>
</div>


